{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>


<h2>Edit Item</h2>

<form method="POST", action="{{ url_for('main.item_detail', item_id=item.id ) }}">
    {{ form.csrf_token }}
    <fieldset>
        <!-- <legend>Please enter your information:</legend> -->
        <legend>Edit this grocery item:</legend>


        <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
        <!-- <p><em>Form fields go here!</em></p> -->
        {{ form.name.label }}
        {{ form.name }}
        
        {{ form.price.label }}
        {{ form.price(placeholder="0.00") }}

        {{ form.category.label }}
        {{ form.category }}
        
        {{ form.photo_url.label }}
        {{ form.photo_url }}
        
        {{ form.store.label }}
        {{ form.store }}
            
        {{ form.submit }}

    </fieldset>
</form>

{% endblock %}